body {
color : #081038;
font-family : Arial, Helvetica, sans-serif;
font-size : 14px;
scrollbar-3d-light-color : #000000;
scrollbar-arrow-color : #000000;
scrollbar-base-color : #888888;
scrollbar-dark-shadow-color : #000000;
scrollbar-face-color : #787878;
scrollbar-highlight-color : #000000;
scrollbar-shadow-color : #ffffff;
}
